<%- include('includes/head') %>
  <body>
    <%- include('includes/nav') %>
    <div class="container">
        <div class="row">
            <div class="col-lg-2">

            </div>

            <div class="col-lg-8 my-4">
                <h1 class="text-center">Agenda</h1>

                <p class="text-muted text-center">Seus contatos estão abaixo</p>

                <%- include('includes/messages') %>
                <% if(contatos.length > 0) { %>
            <div class="responsive-table">
                <table class="table ms-auto">
                    <% contatos.forEach(contato => { %>
                    <tr>
                        <td><%= contato.nome %></td>
                        <td><%= contato.sobrenome %></td>
                        <td><%= contato.telefone %></td>
                        <td><%= contato.email %></td>
                        <td><a class="text-decoration-none" href="/contato/index/<%= contato._id %>">Editar</a></td>
                        <td><button class="bg-transparent border border-0"><a class="text-danger text-decoration-none" href="/contato/delete/<%= contato._id %>">X</a></button></td>
                    </tr>
                    <% }) %>
                </table>
                <% } else {%>
                    <p class="text-center lead">Não possuem contatos na agenda.</p>
                <% } %>
            </div>
        </div>

            <div class="col-lg-2">

            </div>
        </div>
    </div>

<%- include('includes/footer') %>